.button {
  background-color: $color-brand3;
  color: $color-white;
  border-radius: 6px;
  border: solid 2px $color-aux2;
  padding: 5px;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    background-color: lighten($color-brand3, 5%);
    transition: background-color ease 1s;
  }
}

.clearButton {
  width: 100px;
  min-width: fit-content;
  align-self: flex-start;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 6px;
  background-color: $color-aux1;
  color: $color-white;
  padding: 5px;
  &:hover {
    cursor: pointer;
    background-color: $color-secondary;
    transition: background-color ease 1s;
  }
}
