.clearButton {
  width: 100px;
  min-width: fit-content;
  align-self: flex-start;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 6px;
  background-color: $color-aux1;
  color: $color-white;
  padding: 5px;
  &:hover {
    cursor: pointer;
    background-color: $color-secondary;
    transition: background-color ease 1s;
  }
}
