// fonts
$font-main: "Roboto", sans-serif;

// colors
$color-bg: #f3f4f5;
$color-white: #f5fffa;
$color-aux1: #999;
$color-aux2: #46474f;
$color-primary: #072246;
$color-secondary: #013765;
$color-brand1: #daa512;
$color-brand2: #007c85;
$color-brand3: #06596a;
$color-brand4: #00aaa1;

// lightblue
