body {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style-type: none;
}
