.title {
  padding-bottom: 32px;
  color: $color-primary;
}

.textInput {
  padding: 6px;
  width: 250px;
  margin-right: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px $color-aux2;
  background-color: lighten($color-brand1, 15%);
  &:focus {
    outline: thin dotted;
  }
}
