.title {
  padding-bottom: 32px;
  color: #46474f;
}

.textInput {
  padding: 6px;
  width: 250px;
  margin-right: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #46474f;
  background-color: lighten(#f2c23f, 15%);
}
